body {
    padding: 24px;
}

.container {
    max-width: 80vw;
    border: 1px solid var(--vscode-editor-foreground, #D4D4D4);
    border-radius: 20px;
    padding: 24px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }
}

label {
    display: grid;
    grid-template-columns: 100px 1fr;
}

input,
select {
    padding: .5ch 2ch;
    background-color: #2d2d2d;
    border: 1px solid #6c6c6c;
    border-radius: 4px;
    color: #989898;
}

button {
    background-color: #181818;
    color: #989898;
    border-radius: 4px;
    border: 1px solid #6c6c6c;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
    padding: 0 16px;
    line-height: 1.499;
    height: 32px;
    text-align: center;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    white-space: nowrap;
    cursor: pointer;

    &.primary {
        background-color: #68a1de;
        border-color: #68a1de;
        color: #fff;
    }
}